@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*,*::before,*::after{
    box-sizing: border-box;
}

p,h2,h3,h4,span{
    color:$primary;
    font-family: 'Lato';
}

.w100{
    width: 100%;
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}

.d-flex{
    display: flex;
}

.jcsb{
    justify-content: space-between;
}

.jcfe{
    justify-content: flex-end;
}

.aic{
    align-items: center;
}

.fxdc{
    flex-direction: column;
}

.mr10{
    margin-right: 10px;
}

.mr15{
    margin-right: 15px;
}

.mr16{
    margin-right: 16px;
}

.mr23{
    margin-right: 23px;
}

.mr24{
    margin-right: 24px;
}

.mr26{
    margin-right: 26px;
}

.mr32{
    margin-right: 32px;
}

.mb16{
    margin-bottom: 16px;
}

.mb18{
    margin-bottom: 18px;
}

.mb19{
    margin-bottom: 19px;
}

.mb20{
    margin-bottom: 20px;
}

.mb21{
    margin-bottom: 21px;
}

.mb25{
    margin-bottom: 25px;
}

.mb28{
    margin-bottom: 28px;
}

.pb25{
    padding-bottom: 25px;
}

.m32{
    margin: 32px;
}


.fxdc{
    flex-direction: column;
}

.aife{
    align-items: flex-end;
}

.aib{
    align-items: baseline;
}

.aic{
    align-items: center;
}

.bb-light-gray{
    border-bottom: 1px solid $light-gray;
}

.font-primary{
    color:$success;
}

.text-danger{
    color:$danger;
}

.text-gray{
    color:$gray;
}

.h141{
height: 141px;
}



.border-danger{
    border:1px solid $danger;
    background: $white;
    color:$danger;
    font-family: $font-family;
    font-weight: bold;
    border-radius: 2px;
}

.fwb{
    font-weight: bold;
}

.display-none{
    display: none;
}


.w146{
    width: 146px;
}

.w92{
    width: 92px;
}